// SPDX-License-Identifier: (GPL-2.0-only OR BSD-3-Clause)
/*
 * Copyright (C) 2026 Diamond Technologies
 */

/ {
	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* Internal SRAM */
		tfa_bl31: tfa-bl31@a000000 {
			reg = <0x0 0xa000000 0x0 0x20000>;
			no-map;
		};

		hpdma1_lli: hpdma1-lli@a020000 {
			reg = <0x0 0xa020000 0x0 0xf0f0>;
			no-map;
		};

		hpdma2_lli: hpdma2-lli@a02f0f0 {
			reg = <0x0 0xa02f0f0 0x0 0xf0f0>;
			no-map;
		};

		hpdma3_lli: hpdma3-lli@a03e1e0 {
			reg = <0x0 0xa03e1e0 0x0 0x1e20>;
			no-map;
		};

		bsec_mirror: bsec-mirror@a040000 {
			reg = <0x0 0xa040000 0x0 0x1000>;
			no-map;
		};

		cm33_sram1: cm33-sram1@a041000 {
			reg = <0x0 0xa041000 0x0 0x1f000>;
			no-map;
		};

		cm33_sram2: cm33-sram2@a060000 {
			reg = <0x0 0xa060000 0x0 0x20000>;
			no-map;
		};

		cm33_retram: cm33-retram@a080000 {
			reg = <0x0 0xa080000 0x0 0x1f000>;
			no-map;
		};

		ddr_param: ddr-param@a09f000 {
			reg = <0x0 0xa09f000 0x0 0x1000>;
			no-map;
		};

		cm0_cube_fw: cm0-cube-fw@200C0000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x200C0000 0x0 0x4000>;
			no-map;
		};

		cm0_cube_data: cm0-cube-data@200C4000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x200C4000 0x0 0x2000>;
			no-map;
		};

		ipc_shmem_2: ipc-shmem-2@200C6000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x200C6000 0x0 0x2000>;
			no-map;
		};

		/* Backup SRAM */
		bl31_lowpower: bl31-lowpower@42000000 {
			reg = <0x0 0x42000000 0x0 0x1000>;
			no-map;
		};

		tfm_its: tfm-its@42001000 {
			reg = <0x0 0x42001000 0x0 0x1000>;
			no-map;
		};

		/* OSPI memory-mapped */
		mm_ospi1: mm-ospi@60000000 {
			reg = <0x0 0x60000000 0x0 0x10000000>;
			no-map;
		};

		/* DDR */
		tfm_code: tfm-code@80000000 {
			reg = <0x0 0x80000000 0x0 0x100000>;
			no-map;
		};

		cm33_cube_fw: cm33-cube-fw@80100000 {
			reg = <0x0 0x80100000 0x0 0x800000>;
			no-map;
		};

		tfm_data: tfm-data@80900000 {
			reg = <0x0 0x80900000 0x0 0x100000>;
			no-map;
		};

		cm33_cube_data: cm33-cube-data@80a00000 {
			reg = <0x0 0x80a00000 0x0 0x800000>;
			no-map;
		};

		ipc_shmem_1: ipc-shmem-1@81200000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x81200000 0x0 0xf8000>;
			no-map;
		};

		vdev0vring0: vdev0vring0@812f8000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x812f8000 0x0 0x1000>;
			no-map;
		};

		vdev0vring1: vdev0vring1@812f9000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x812f9000 0x0 0x1000>;
			no-map;
		};

		vdev0buffer: vdev0buffer@812fa000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x812fa000 0x0 0x6000>;
			no-map;
		};

		spare1: spare1@81300000 {
			reg = <0x0 0x81300000 0x0 0xcc0000>;
			no-map;
		};

		bl31_context: bl31-context@81fc0000 {
			reg = <0x0 0x81fc0000 0x0 0x40000>;
			no-map;
		};

		op_tee: op-tee@82000000 {
			reg = <0x0 0x82000000 0x0 0x2000000>;
			no-map;
		};

		gpu_reserved: gpu-reserved@fa800000 {
			reg = <0x0 0xfa800000 0x0 0x4000000>;
			no-map;
		};

		ltdc_sec_layer: ltdc-sec-layer@fe800000 {
			reg = <0x0 0xfe800000 0x0 0x800000>;
			no-map;
		};

		ltdc_sec_rotation: ltdc-sec-rotation@ff000000 {
			reg = <0x0 0xff000000 0x0 0x1000000>;
			no-map;
		};

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			alloc-ranges = <0 0x80000000 0 0x40000000>;
			size = <0x0 0x8000000>;
			alignment = <0x0 0x2000>;
			linux,cma-default;
		};
	};

	/*
	 * WLAN power-enable rail for IW610 (WLAN_EN, really IW610_nRST).
	 * Rev 02 SOM: PG8. PB1 is now one of the BOARD_ID0-3 straps.
	 */
	reg_sdmmc3_vmmc: regulator-sdmmc3 {
		compatible = "regulator-fixed";
		regulator-name = "WLAN_EN";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpiog 8 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <20000>;
		enable-active-high;
	};
};

&ahbsr {
	mbox_client: mailbox-client@1 {
		compatible = "mbox-cdev";
		reg = <1 0>;
		memory-region = <&ipc_shmem_2>;
		mboxes = <&ipcc2 0>;
		mbox-names = "rx-tx";
		status = "okay";
	};
};

&arm_wdt {
	timeout-sec = <32>;
	status = "okay";
};

&i2c1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c1_pins_mx>;
	pinctrl-1 = <&i2c1_sleep_pins_mx>;
	i2c-scl-rising-time-ns = <108>;
	i2c-scl-falling-time-ns = <12>;
	clock-frequency = <400000>;
	/delete-property/ dmas;
	/delete-property/ dma-names;
	status = "okay";

	rtc_i2c: rtc@32 {
		compatible = "epson,rx8111";
		reg = <0x32>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_rtc>;
		interrupt-parent = <&gpiob>;
		interrupts = <10 GPIO_ACTIVE_LOW>;
	};

	eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
		pagesize = <16>;
		status = "okay";
	};
};

&ipcc1 {
	status = "okay";
};

&ipcc2 {
	status = "okay";
};

&lpuart1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&lpuart1_pins_z_mx>;
	pinctrl-1 = <&lpuart1_sleep_pins_z_mx>;
	uart-has-rtscts;
	/delete-property/ dmas;
	/delete-property/ dma-names;
	status = "okay";

	bluetooth {
		/*
		 * 6.6's btnxpuart only knows nxp,88w8987-bt and nxp,88w8997-bt.
		 * The IW610's BT subsystem responds to the 88w8997 HCI vendor
		 * command set when the combined sduart_iw610.bin.se firmware
		 * has been pre-loaded by the moal WLAN driver via SDIO. Same
		 * trick the i.MX93 IW612 uses in this same family.
		 */
		compatible = "nxp,88w8997-bt";
	};
};

&m33_rproc {
	mboxes = <&ipcc1 0x100>, <&ipcc1 0x101>, <&ipcc1 2>;
	mbox-names = "vq0", "vq1", "shutdown";
	status = "okay";
};

&pinctrl {
	i2c1_pins_mx: i2c1_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('G', 13, AF9)>, /* I2C1_SCL */
				 <STM32_PINMUX('I', 1, AF9)>;  /* I2C1_SDA */
			bias-disable;
			drive-open-drain;
			slew-rate = <0>;
		};
	};

	i2c1_sleep_pins_mx: i2c1_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('G', 13, ANALOG)>,
				 <STM32_PINMUX('I', 1, ANALOG)>;
		};
	};

	pinctrl_rtc: pinctrl_rtc-0 {
		pins {
			pinmux = <STM32_PINMUX('B', 10, GPIO)>; /* RTC_nINT */
			bias-pull-up;
		};
	};

	sdmmc2_opendrain_pins_mx: sdmmc2_opendrain_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('E', 6, AF12)>,
				 <STM32_PINMUX('E', 7, AF12)>,
				 <STM32_PINMUX('E', 8, AF12)>,
				 <STM32_PINMUX('E', 9, AF12)>,
				 <STM32_PINMUX('E', 10, AF12)>,
				 <STM32_PINMUX('E', 11, AF12)>,
				 <STM32_PINMUX('E', 12, AF12)>,
				 <STM32_PINMUX('E', 13, AF12)>;
			bias-pull-up;
			drive-push-pull;
			slew-rate = <1>;
		};
		pins2 {
			pinmux = <STM32_PINMUX('E', 14, AF12)>;
			bias-pull-up;
			drive-push-pull;
			slew-rate = <2>;
		};
		pins3 {
			pinmux = <STM32_PINMUX('E', 15, AF12)>;
			bias-pull-up;
			drive-open-drain;
			slew-rate = <1>;
		};
	};

	sdmmc2_pins_mx: sdmmc2_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('E', 6, AF12)>,  /* SDMMC2_D6 */
				 <STM32_PINMUX('E', 7, AF12)>,  /* SDMMC2_D7 */
				 <STM32_PINMUX('E', 8, AF12)>,  /* SDMMC2_D2 */
				 <STM32_PINMUX('E', 9, AF12)>,  /* SDMMC2_D5 */
				 <STM32_PINMUX('E', 10, AF12)>, /* SDMMC2_D4 */
				 <STM32_PINMUX('E', 11, AF12)>, /* SDMMC2_D1 */
				 <STM32_PINMUX('E', 12, AF12)>, /* SDMMC2_D3 */
				 <STM32_PINMUX('E', 13, AF12)>, /* SDMMC2_D0 */
				 <STM32_PINMUX('E', 15, AF12)>; /* SDMMC2_CMD */
			bias-pull-up;
			drive-push-pull;
			slew-rate = <1>;
		};
		pins2 {
			pinmux = <STM32_PINMUX('E', 14, AF12)>; /* SDMMC2_CK */
			bias-pull-up;
			drive-push-pull;
			slew-rate = <2>;
		};
	};

	sdmmc2_sleep_pins_mx: sdmmc2_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('E', 6, ANALOG)>,
				 <STM32_PINMUX('E', 7, ANALOG)>,
				 <STM32_PINMUX('E', 8, ANALOG)>,
				 <STM32_PINMUX('E', 9, ANALOG)>,
				 <STM32_PINMUX('E', 10, ANALOG)>,
				 <STM32_PINMUX('E', 11, ANALOG)>,
				 <STM32_PINMUX('E', 12, ANALOG)>,
				 <STM32_PINMUX('E', 13, ANALOG)>,
				 <STM32_PINMUX('E', 14, ANALOG)>,
				 <STM32_PINMUX('E', 15, ANALOG)>;
		};
	};

	sdmmc3_opendrain_pins_mx: sdmmc3_opendrain_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('B', 12, AF10)>,
				 <STM32_PINMUX('B', 14, AF10)>,
				 <STM32_PINMUX('D', 13, AF10)>,
				 <STM32_PINMUX('I', 11, AF10)>;
			bias-pull-up;
			drive-push-pull;
			slew-rate = <0>;
		};
		pins2 {
			pinmux = <STM32_PINMUX('B', 13, AF10)>;
			bias-pull-up;
			drive-push-pull;
			slew-rate = <1>;
		};
		pins3 {
			pinmux = <STM32_PINMUX('D', 12, AF10)>;
			bias-pull-up;
			drive-open-drain;
			slew-rate = <0>;
		};
	};

	sdmmc3_pins_mx: sdmmc3_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('B', 12, AF10)>, /* SDMMC3_D2 */
				 <STM32_PINMUX('B', 14, AF10)>, /* SDMMC3_D0 */
				 <STM32_PINMUX('D', 12, AF10)>, /* SDMMC3_CMD */
				 <STM32_PINMUX('D', 13, AF10)>, /* SDMMC3_D1 */
				 <STM32_PINMUX('I', 11, AF10)>; /* SDMMC3_D3 */
			bias-pull-up;
			drive-push-pull;
			slew-rate = <0>;
		};
		pins2 {
			pinmux = <STM32_PINMUX('B', 13, AF10)>; /* SDMMC3_CK */
			bias-pull-up;
			drive-push-pull;
			slew-rate = <1>;
		};
	};

	sdmmc3_sleep_pins_mx: sdmmc3_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('B', 12, ANALOG)>,
				 <STM32_PINMUX('B', 13, ANALOG)>,
				 <STM32_PINMUX('B', 14, ANALOG)>,
				 <STM32_PINMUX('D', 12, ANALOG)>,
				 <STM32_PINMUX('D', 13, ANALOG)>,
				 <STM32_PINMUX('I', 11, ANALOG)>;
		};
	};
};

&pinctrl_z {
	lpuart1_pins_z_mx: lpuart1_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('Z', 0, AF6)>, /* LPUART1_TX */
				 <STM32_PINMUX('Z', 1, AF6)>, /* LPUART1_RX */
				 <STM32_PINMUX('Z', 2, AF6)>, /* LPUART1_RTS */
				 <STM32_PINMUX('Z', 3, AF6)>; /* LPUART1_CTS */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
	};

	lpuart1_sleep_pins_z_mx: lpuart1_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('Z', 0, ANALOG)>,
				 <STM32_PINMUX('Z', 1, ANALOG)>,
				 <STM32_PINMUX('Z', 2, ANALOG)>,
				 <STM32_PINMUX('Z', 3, ANALOG)>;
		};
	};
};

/* PMIC outputs (STPMIC25BPQR on I2C7, managed by OP-TEE/SCMI firmware) */
&scmi_regu {
	scmi_vddio1: regulator@0 {
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
	};
	scmi_vddio2: regulator@1 {
		reg = <VOLTD_SCMI_VDDIO2>;
		regulator-name = "vddio2";
	};
	scmi_vddio3: regulator@2 {
		reg = <VOLTD_SCMI_VDDIO3>;
		regulator-name = "vddio3";
	};
	scmi_vddio4: regulator@3 {
		reg = <VOLTD_SCMI_VDDIO4>;
		regulator-name = "vddio4";
	};
	scmi_vdd33ucpd: regulator@5 {
		reg = <VOLTD_SCMI_UCPD>;
		regulator-name = "vdd33ucpd";
	};
	scmi_vdda18adc: regulator@7 {
		reg = <VOLTD_SCMI_ADC>;
		regulator-name = "vdda18adc";
	};
	scmi_vddcore: regulator@11 {
		reg = <VOLTD_SCMI_STPMIC2_BUCK2>;
		regulator-name = "vddcore";
	};
	scmi_vddio1v8: regulator@12 {
		reg = <VOLTD_SCMI_STPMIC2_BUCK4>;
		regulator-name = "vddio_1v8";
	};
	scmi_v1v8: regulator@14 {
		reg = <VOLTD_SCMI_STPMIC2_BUCK5>;
		regulator-name = "v1v8";
	};
	scmi_v3v3: regulator@16 {
		reg = <VOLTD_SCMI_STPMIC2_BUCK7>;
		regulator-name = "v3v3";
	};
	scmi_vdd_emmc: regulator@18 {
		reg = <VOLTD_SCMI_STPMIC2_LDO2>;
		regulator-name = "vdd_emmc";
	};
	scmi_vdd3v3_usb: regulator@20 {
		reg = <VOLTD_SCMI_STPMIC2_LDO4>;
		regulator-name = "vdd3v3_usb";
	};
	scmi_vdd_sdcard: regulator@22 {
		reg = <VOLTD_SCMI_STPMIC2_LDO7>;
		regulator-name = "vdd_sdcard";
	};
};

&sdmmc2 {
	pinctrl-names = "default", "opendrain", "sleep";
	pinctrl-0 = <&sdmmc2_pins_mx>;
	pinctrl-1 = <&sdmmc2_opendrain_pins_mx>;
	pinctrl-2 = <&sdmmc2_sleep_pins_mx>;
	non-removable;
	no-sd;
	no-sdio;
	st,neg-edge;
	bus-width = <8>;
	vmmc-supply = <&scmi_vdd_emmc>;
	vqmmc-supply = <&scmi_vddio2>;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	status = "okay";
};

&sdmmc3 {
	pinctrl-names = "default", "opendrain", "sleep";
	pinctrl-0 = <&sdmmc3_pins_mx>;
	pinctrl-1 = <&sdmmc3_opendrain_pins_mx>;
	pinctrl-2 = <&sdmmc3_sleep_pins_mx>;
	non-removable;
	st,neg-edge;
	bus-width = <4>;
	vmmc-supply = <&reg_sdmmc3_vmmc>;
	cap-power-off-card;
	keep-power-in-suspend;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	wifi_wake_host {
		compatible = "nxp,wifi-wake-host";
		interrupt-parent = <&gpiod>;
		interrupts = <8 IRQ_TYPE_LEVEL_LOW>;
		interrupt-names = "host-wake";
	};
};
